.App{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 33%;
   
    padding:30px;
    
    min-height: 100vh;
    height:100%;
    
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}


.add-btn{
    border-radius: 5px;
    border: 1px solid grey;
    outline: 0;
    background-color: #f5f5f5;
    margin-left: 5px;
}

.src-input{
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 50%;
    
    outline: 0;
    background-color: #f5f5f5;

}